@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');
body {
  margin: 0;
    font-family: 'Mulish', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  background-color: 	#f3f4f8;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: lightgray;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.motto {
  margin-top: 3em;
  font-style: italic;
}

.loginregister {
  display: flex;
  justify-content: space-between;
  width: 52%;  
  margin: 5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mulish', sans-serif;
  margin-top: 10%;
  width: 100%;
}

.addNewProjectLink {
  width: 100%;
  height: 6em;
  color: black;
}

.existingProjectsContainer {
display: flex;
flex-flow: wrap;
justify-content: space-evenly;
width: 90%;
height: 75%;
margin-top: 15%;
}

.existingProject {
  margin-top: .75em;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.newProjectContainer {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.newProjectSaveBtn {
  margin-top: 2em;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Mulish', sans-serif;
  margin-top: 3em;
  width: 100%;
}

.projectDetailsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.tasksContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 5%;
  }

.task {
  margin: .5em
}

.authButton {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  background-color: transparent;
  text-align:center;
  transition: all 0.2s;
}
.authButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.authButton:active {
	position:relative;
	top:1px;
}

.trueColor {
  background-color: #7dd247;
  width: 100%;
  height: 3em;
  font-weight: bold;
  color: darkgreen;

}

.falseColor {
  background-color: #f99797;
  width: 100%;
  height: 3em;
  font-weight: bold;
  color: darkred;

}



.buttonContainer {
  display: flex;
  justify-content: center;
  width: 75%;  
}

.taskButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  margin-top: 2em;

}

.taskHeader {
  display: flex;
  flex-direction: column;
}


